$_background_color: #000026;
$_body_main_color: #c1c1c1;
$_aguamarina_color: #03A596;
$_space_base: 8;

body {
    color: $_body_main_color;
    background-color: $_background_color;
    min-height: 100vh;
}

.text-center {
    text-align: center;
}

.text-main-light-color {
    color: #03A596;
}

// number-area component
.numbers-area {
    border: 1px solid $_aguamarina_color;
    border-radius: $_space_base / 2 + px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: $_space_base * 2 + px;
    height: 400px;
    justify-content: space-evenly;
    align-content: space-evenly;
    max-width: 350px;
    & .number-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// end number-area component